In [18]:
import numpy as np
import pandas as pd
import wrangle_anomaly as w

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
traffic = w.wrangle_web_traffic()

opening file from local directory

In [3]:
traffic

,path,user_id,cohort_name,ip,name,start_date,end_date,program_id,lesson
datetime,,,,,,,,,
2018-01-26 09:55:03,/,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,1,
2018-01-26 09:56:02,java-ii,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,1,java-ii
2018-01-26 09:56:05,java-ii/object-oriented-programming,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,1,java-ii
2018-01-26 09:56:06,slides/object_oriented_programming,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,1,slides
2018-01-26 09:56:24,javascript-i/conditionals,2,22.0,97.105.19.61,Teddy,2018-01-08,2018-05-17,2,javascript-i
...,...,...,...,...,...,...,...,...,...
2021-04-21 16:41:51,jquery/personal-site,64,28.0,71.150.217.33,Staff,2014-02-04,2014-02-04,2,jquery
2021-04-21 16:42:02,jquery/mapbox-api,64,28.0,71.150.217.33,Staff,2014-02-04,2014-02-04,2,jquery
2021-04-21 16:42:09,jquery/ajax/weather-map,64,28.0,71.150.217.33,Staff,2014-02-04,2014-02-04,2,jquery
2021-04-21 16:44:37,anomaly-detection/discrete-probabilistic-methods,744,28.0,24.160.137.86,Staff,2014-02-04,2014-02-04,2,anomaly-detection
2021-04-21 16:44:39,jquery/mapbox-api,64,28.0,71.150.217.33,Staff,2014-02-04,2014-02-04,2,jquery

### 5. At some point in 2019, the ability for students and alumni to access both curriculums (web dev to ds, ds to web dev) should have been shut off. Do you see any evidence of that happening? Did it happen before?

In [6]:
traffic.lesson.value_counts()

javascript-i             113838
html-css                  81490
mysql                     79416
jquery                    58317
spring                    55481
                          ...
stats-assessment              1
statistics-assessment         1
javascript-functions          1
ui                            1
6.03_Explore                  1
Name: lesson, Length: 687, dtype: int64

In [32]:
id_counts = traffic.reset_index().groupby('user_id')[[
    'lesson', 'cohort_name','datetime']].nunique()

In [40]:
cohort_counts = traffic.reset_index().groupby('name')[[
    'lesson', 'user_id','datetime']].nunique()

In [34]:
cohort_counts.info()

<class 'pandas.core.frame.DataFrame'>
Index: 47 entries, Andromeda to Zion
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   lesson       47 non-null     int64
 1   cohort_name  47 non-null     int64
 2   datetime     47 non-null     int64
dtypes: int64(3)
memory usage: 1.5+ KB

In [41]:
cohort_counts

            lesson  user_id  datetime
name
Andromeda       41       28     24948
Apex            28       24     32969
Apollo           2        1         4
Arches          35       18      8529
Badlands         8        3        90
Bash            39       23     17487
Bayes           86       23     24301
Betelgeuse      36       22     28833
Ceres           40       29     39647
Curie           55       21     19569
Darden          74       29     28215
Deimos          38       27     32366
Denali           3        1         4
Easley          38       17     12731
Europa          36       28     27309
Everglades       1        1         1
Florence        42       21      6813
Fortuna         28       29     35315
Franklin        23        2        71
Ganymede        41       29     33353
Glacier         17        6       531
Hampton         39        5      1685
Hyperion        38       23     29249
Ike             17        5       234
Joshua          11        5       293
Jupiter         43       33     36405
Kalypso         40       23     23229
Kings           18       10      2427
Lassen          52       13      9333
Luna            33       20     16389
Mammoth         20        5       647
Marco           30       31     16138
Neptune         24       37      7063
Niagara         19        8       753
Oberon          13       26      1592
Olympic         22       14      4674
Pinnacles       30       14      2132
Quincy          23       17      1099
Sequoia         33       28      7354
Staff          448       51     78567
Teddy           81       35     30053
Ulysses         34       33     27984
Voyageurs       81       34     34848
Wrangell       177       26     25186
Xanadu          31       20     27188
Yosemite        45       29     20410
Zion            70       25     37181

In [46]:
last_access = traffic.reset_index().groupby('user_id').datetime.max()

user_id
1     2021-04-21 10:32:48
2     2018-05-10 18:25:38
3     2019-04-06 21:32:32
4     2018-03-27 14:28:18
5     2018-07-19 14:08:20
              ...
977   2021-04-21 09:46:37
978   2021-04-21 10:21:40
979   2021-04-21 10:53:46
980   2021-04-19 12:08:50
981   2021-04-21 11:01:23
Name: datetime, Length: 911, dtype: datetime64[ns]