In [1]:
# import data manipulation tools
import numpy as np
import pandas as pd
# import file access tools
import os

In [2]:
traffic = pd.read_csv('anonymized-curriculum-access.txt', sep=' ', header=None)

In [20]:
traffic.head()

,0,1,2,3,4,5
0,2018-01-26,09:55:03,/,1,8.0,97.105.19.61
1,2018-01-26,09:56:02,java-ii,1,8.0,97.105.19.61
2,2018-01-26,09:56:05,java-ii/object-oriented-programming,1,8.0,97.105.19.61
3,2018-01-26,09:56:06,slides/object_oriented_programming,1,8.0,97.105.19.61
4,2018-01-26,09:56:24,javascript-i/conditionals,2,22.0,97.105.19.61

### This data is supposed to contain cohort and student info along with machine
- There are 981 unique entries in column 3 and 47 entries in column 4
- I'm thinking that column 3 is student, and column 4 is cohort
- column 5 is clearly ip

In [3]:
traffic = traffic.rename(columns={
    0:'date', 1:'time', 2:'page', 3:'user_id', 4:'cohort', 5:'ip'})

In [6]:
traffic['datetime'] = traffic.date + ' ' + traffic.time

In [8]:
traffic.datetime = pd.to_datetime(traffic.datetime)

In [9]:
traffic = traffic.drop(columns=['date', 'time']).set_index('datetime')

In [15]:
def acquire_web_traffic():
    '''
    this will read in the codeup web traffic log from txt file in the local directory
    '''
    # set file name
    filename = 'anonymized-curriculum-access.txt'
    # check if file exists in local directory
    if os.path.exists(filename):
        # read in the file to a dataframe
        traffic = pd.read_csv(filename, sep=' ', header=None)
    # if the file doesn't exist
    else:
        # print an error
        print(f'file {filename} not found in local directory')
    # return the dataframe
    return traffic

In [14]:
def prepare_web_traffic(traffic):
    '''
    this will prepare the codeup web traffic dataframe for use
    '''
    # set column names
    traffic = traffic.rename(columns={
        0:'date', 1:'time', 2:'page', 3:'user_id', 4:'cohort', 5:'ip'})
    # combine the date and time into one varaible
    traffic['datetime'] = traffic.date + ' ' + traffic.time
    # change the new datetime column to datetime type
    traffic.datetime = pd.to_datetime(traffic.datetime)
    # drop the redundant date and time columns and set datetime as the index
    traffic = traffic.drop(columns=['date', 'time']).set_index('datetime')
    # return the prepared dataframe
    return traffic

In [13]:
def wrangle_web_traffic():
    '''
    this will perform both acquire and preparation steps in one command
    '''
    # acquire and prepare data
    return prepare_web_traffic(acquire_web_traffic())

In [29]:
traf = acquire_web_traffic()
traf

,0,1,2,3,4,5
0,2018-01-26,09:55:03,/,1,8.0,97.105.19.61
1,2018-01-26,09:56:02,java-ii,1,8.0,97.105.19.61
2,2018-01-26,09:56:05,java-ii/object-oriented-programming,1,8.0,97.105.19.61
3,2018-01-26,09:56:06,slides/object_oriented_programming,1,8.0,97.105.19.61
4,2018-01-26,09:56:24,javascript-i/conditionals,2,22.0,97.105.19.61
...,...,...,...,...,...,...
900218,2021-04-21,16:41:51,jquery/personal-site,64,28.0,71.150.217.33
900219,2021-04-21,16:42:02,jquery/mapbox-api,64,28.0,71.150.217.33
900220,2021-04-21,16:42:09,jquery/ajax/weather-map,64,28.0,71.150.217.33
900221,2021-04-21,16:44:37,anomaly-detection/discrete-probabilistic-methods,744,28.0,24.160.137.86
900222,2021-04-21,16:44:39,jquery/mapbox-api,64,28.0,71.150.217.33

In [16]:
traf = wrangle_web_traffic()
traf

,page,user_id,cohort,ip
datetime,,,,
2018-01-26 09:55:03,/,1,8.0,97.105.19.61
2018-01-26 09:56:02,java-ii,1,8.0,97.105.19.61
2018-01-26 09:56:05,java-ii/object-oriented-programming,1,8.0,97.105.19.61
2018-01-26 09:56:06,slides/object_oriented_programming,1,8.0,97.105.19.61
2018-01-26 09:56:24,javascript-i/conditionals,2,22.0,97.105.19.61
...,...,...,...,...
2021-04-21 16:41:51,jquery/personal-site,64,28.0,71.150.217.33
2021-04-21 16:42:02,jquery/mapbox-api,64,28.0,71.150.217.33
2021-04-21 16:42:09,jquery/ajax/weather-map,64,28.0,71.150.217.33
2021-04-21 16:44:37,anomaly-detection/discrete-probabilistic-methods,744,28.0,24.160.137.86
2021-04-21 16:44:39,jquery/mapbox-api,64,28.0,71.150.217.33

In [17]:
traf.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 900223 entries, 2018-01-26 09:55:03 to 2021-04-21 16:44:39
Data columns (total 4 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   page     900222 non-null  object
 1   user_id  900223 non-null  int64
 2   cohort   847330 non-null  float64
 3   ip       900223 non-null  object
dtypes: float64(1), int64(1), object(2)
memory usage: 34.3+ MB