In [1]:
import numpy as np
import pandas as pd
import wrangle_anomaly as w

import matplotlib.pyplot as plt
import seaborn as sns

In [27]:
traffic = w.wrangle_web_traffic()

opening file from local directory

In [28]:
traffic

,path,user_id,cohort_id,ip,cohort_name,start_date,end_date,program_id,lesson
datetime,,,,,,,,,
2018-01-26 09:55:03,/,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,1.0,
2018-01-26 09:56:02,java-ii,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,1.0,java-ii
2018-01-26 09:56:05,java-ii/object-oriented-programming,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,1.0,java-ii
2018-01-26 09:56:06,slides/object_oriented_programming,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,1.0,slides
2018-01-26 09:56:24,javascript-i/conditionals,2,22.0,97.105.19.61,Teddy,2018-01-08,2018-05-17,2.0,javascript-i
...,...,...,...,...,...,...,...,...,...
2021-04-21 16:41:51,jquery/personal-site,64,28.0,71.150.217.33,Staff,2014-02-04,2014-02-04,2.0,jquery
2021-04-21 16:42:02,jquery/mapbox-api,64,28.0,71.150.217.33,Staff,2014-02-04,2014-02-04,2.0,jquery
2021-04-21 16:42:09,jquery/ajax/weather-map,64,28.0,71.150.217.33,Staff,2014-02-04,2014-02-04,2.0,jquery
2021-04-21 16:44:37,anomaly-detection/discrete-probabilistic-methods,744,28.0,24.160.137.86,Staff,2014-02-04,2014-02-04,2.0,anomaly-detection
2021-04-21 16:44:39,jquery/mapbox-api,64,28.0,71.150.217.33,Staff,2014-02-04,2014-02-04,2.0,jquery

# 1. Which lesson appears to attract the most traffic consistently across cohorts (per program)?

In [32]:
traffic.program_id.value_counts(dropna=False)

2.0    713365
3.0    103411
1.0     30548
4.0         5
Name: program_id, dtype: int64

In [21]:
traffic.reset_index().groupby(['lesson', 'program_id']).\
    datetime.nunique().sort_values(ascending=False).head(50)

lesson                program_id
javascript-i          2             108425
html-css              2              77920
mysql                 2              75352
jquery                2              55871
spring                2              52438
java-iii              2              51626
java-ii               2              50487
java-i                2              37567
                      2              35622
javascript-ii         2              35483
appendix              2              30071
toc                   2              17300
search                2              15141
examples              2              13580
                      3               8228
sql                   3               7447
classification        3               6837
slides                2               6437
3-sql                 3               6099
fundamentals          3               5673
python                3               5559
content               1               5240
1-fundamentals        3               4889
4-python              3               4813
6-regression          3               4542
appendix              3               3868
javascript-i          1               3668
5-stats               3               3237
7-classification      3               3196
stats                 3               3171
regression            3               2910
capstone              2               2791
html-css              1               2423
spring                1               2273
search                3               2187
content               2               2050
mysql                 1               2026
classification        2               1977
8-clustering          3               1919
clustering            3               1918
java-iii              1               1904
web-design            2               1864
mkdocs                2               1762
9-timeseries          3               1706
                      1               1680
11-nlp                3               1669
10-anomaly-detection  3               1642
timeseries            3               1580
java-ii               1               1537
anomaly-detection     3               1532
Name: datetime, dtype: int64

In [20]:
traffic[traffic.program_id == 4].reset_index().groupby(['lesson', 'program_id']).\
    datetime.nunique().sort_values(ascending=False).head(50)

lesson   program_id
content  4             3
         4             1
Name: datetime, dtype: int64

In [31]:
traffic[traffic.program_id.isna() == True].reset_index().groupby(['lesson']).\
    datetime.nunique().sort_values(ascending=False).head(50)

Series([], Name: datetime, dtype: int64)

### The most commonly accessed lesson for each program were:
- Program 1 - 'content' which I don't think is a lesson, 'javascript-i' was the next highest
- Program 2 - 'javascript-i'
- Program 3 - 'sql'
- Program 4 - 'content'

# 2. Is there a cohort that referred to a lesson significantly more than other cohorts seemed to gloss over?

In [86]:
lesson_df1 = pd.DataFrame(traffic.reset_index().groupby('lesson').\
     cohort_name.value_counts()).rename(columns={'cohort_name':'count'}).\
    reset_index()

In [87]:
lesson_df1.head()

  lesson cohort_name  count
0              Staff   6340
1             Darden   2980
2          Voyageurs   2101
3            Fortuna   2038
4              Bayes   1967

In [90]:
lesson_df2 = pd.DataFrame(traffic.reset_index().groupby('lesson').\
     cohort_name.value_counts(normalize=True)).rename(columns={'cohort_name':'proba'}).\
    reset_index()

In [91]:
lesson_df2.head()

  lesson cohort_name     proba
0              Staff  0.138265
1             Darden  0.064989
2          Voyageurs  0.045819
3            Fortuna  0.044445
4              Bayes  0.042897

In [92]:
# merge the two data frames create above into a single one:
lesson_df = pd.concat([lesson_df1, lesson_df2.proba], axis=1)
lesson_df.head()

  lesson cohort_name  count     proba
0              Staff   6340  0.138265
1             Darden   2980  0.064989
2          Voyageurs   2101  0.045819
3            Fortuna   2038  0.044445
4              Bayes   1967  0.042897

# 3. Are there students who, when active, hardly access the curriculum? If so, what information do you have about these students?

# 4. Is there any suspicious activity, such as users/machines/etc accessing the curriculum who shouldnâ€™t be?

### 5. At some point in 2019, the ability for students and alumni to access both curriculums (web dev to ds, ds to web dev) should have been shut off. Do you see any evidence of that happening? Did it happen before?

In [5]:
traffic.lesson.value_counts()

javascript-i             113838
html-css                  81490
mysql                     79416
jquery                    58317
spring                    55481
                          ...
stats-assessment              1
statistics-assessment         1
javascript-functions          1
ui                            1
6.03_Explore                  1
Name: lesson, Length: 687, dtype: int64

In [32]:
id_counts = traffic.reset_index().groupby('user_id')[[
    'lesson', 'cohort_name','datetime']].nunique()

In [40]:
cohort_counts = traffic.reset_index().groupby('cohort_name')[[
    'lesson', 'user_id','datetime']].nunique()

In [34]:
cohort_counts.info()

<class 'pandas.core.frame.DataFrame'>
Index: 47 entries, Andromeda to Zion
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   lesson       47 non-null     int64
 1   cohort_name  47 non-null     int64
 2   datetime     47 non-null     int64
dtypes: int64(3)
memory usage: 1.5+ KB

In [41]:
cohort_counts

            lesson  user_id  datetime
name
Andromeda       41       28     24948
Apex            28       24     32969
Apollo           2        1         4
Arches          35       18      8529
Badlands         8        3        90
Bash            39       23     17487
Bayes           86       23     24301
Betelgeuse      36       22     28833
Ceres           40       29     39647
Curie           55       21     19569
Darden          74       29     28215
Deimos          38       27     32366
Denali           3        1         4
Easley          38       17     12731
Europa          36       28     27309
Everglades       1        1         1
Florence        42       21      6813
Fortuna         28       29     35315
Franklin        23        2        71
Ganymede        41       29     33353
Glacier         17        6       531
Hampton         39        5      1685
Hyperion        38       23     29249
Ike             17        5       234
Joshua          11        5       293
Jupiter         43       33     36405
Kalypso         40       23     23229
Kings           18       10      2427
Lassen          52       13      9333
Luna            33       20     16389
Mammoth         20        5       647
Marco           30       31     16138
Neptune         24       37      7063
Niagara         19        8       753
Oberon          13       26      1592
Olympic         22       14      4674
Pinnacles       30       14      2132
Quincy          23       17      1099
Sequoia         33       28      7354
Staff          448       51     78567
Teddy           81       35     30053
Ulysses         34       33     27984
Voyageurs       81       34     34848
Wrangell       177       26     25186
Xanadu          31       20     27188
Yosemite        45       29     20410
Zion            70       25     37181

In [46]:
last_access = traffic.reset_index().groupby('user_id').datetime.max()

user_id
1     2021-04-21 10:32:48
2     2018-05-10 18:25:38
3     2019-04-06 21:32:32
4     2018-03-27 14:28:18
5     2018-07-19 14:08:20
              ...
977   2021-04-21 09:46:37
978   2021-04-21 10:21:40
979   2021-04-21 10:53:46
980   2021-04-19 12:08:50
981   2021-04-21 11:01:23
Name: datetime, Length: 911, dtype: datetime64[ns]

# 6. What topics are grads continuing to reference after graduation and into their jobs (for each program)?

# 7. Which lessons are least accessed?